* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Museo Cyrl 900";
  src: url("../fonts/MuseoCyrl-900.woff2") format("woff2"),
    url("../fonts/MuseoCyrl-900.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Museo Cyrl 700";
  src: url("../fonts/MuseoCyrl-700.woff2") format("woff2"),
    url("../fonts/MuseoCyrl-700.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #202020;
}

.header {
  background-color: #f1f1f1;
  padding: 22px 0;
  margin-bottom: 62px;
}

.header-container {
  max-width: 1140px;
  margin: auto; /* Выравнивание по центру!!! */
  display: flex;
  justify-content: space-between;
}

.nav {
  max-width: 650px;
}

.nav-link {
  text-decoration: none;
  margin-right: 11px;
  margin-left: 11px;
  font-size: 14px;
  color: #202020;
}

.logo {
  text-transform: uppercase;
  font-weight: 700;
}

.login {
  text-decoration: none;
  font-size: 14px;
  color: inherit;
}

/* Главная секция */
.hero {
  margin-bottom: 71px;
}

.hero-container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  align-items: center;
}

.hero-image {
  margin-right: 122px;
}

.author {
  display: block;
  font-size: 24px;
  margin-bottom: 22px;
}

.title {
  margin: 0;
  font-family: "Museo Cyrl 900";
  font-size: 54px;
  margin-bottom: 15px;
}

.subtitle {
  display: block;
  font-size: 24px;
  margin-bottom: 48px;
  line-height: 29px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
}

.info-text {
  flex-basis: 45%;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.pricetag {
  font-size: 55px;
  margin-right: 64px;
}

.favorites {
  background: url(../img/favorite.svg) no-repeat 0 0;
  text-decoration: none;
  color: inherit;
  padding-left: 35px;
  padding-bottom: 5px;
}

.button {
  width: 251px;
  border-radius: 5px;
  padding: 22px 50px;
  font-weight: bold;
  border: 2px solid transparent;
}

.button-read {
  background-color: #f89c02;
  color: #fff;
  margin-right: 20px;
}

.button-buy {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #f89c02;
  border: 2px solid #f89c02;
}

/* О книге */
.about-container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about {
  background-color: #f1f1f1;
  padding: 99px 0;
}

.about-book {
  max-width: 454px;
  flex-shrink: 0;
}

.section-title {
  font-family: "Museo Cyrl 900";
  font-size: 32px;
}
.about-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.about-author {
  max-width: 552px;
  padding: 68px 53px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.author-avatar {
  width: 100px;
  height: 100px;
  margin-right: 21px;
  object-fit: cover;
  border-radius: 50%;
}

.author-name {
  font-size: 16px;
  font-family: "Museo Cyrl 700";
  margin: 0;
  margin-bottom: 14px;
}

.author-link {
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}
.author-text {
  margin-top: 24px;
  flex-basis: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
